@page
@model Hue04.Pages.ZufallszahlModel
@{
}
<div class="text-center">

      <h1 class="display-4">Ihre Zufallszahl zwischen @Model.Minimum und @Model.Maximum ist: </h1>

      <h1 class="display-4">@Model.Number</h1>

</div>