@page
@model Hue05.Pages.GehzeitModel
@{
}
<div class="container">
    <form method="post" asp-page-handler="Rechner">
    <div class="row">
        <font style="text-align:center" face="Comic sans MS" size="8">Gehzeitrechner für Ihre Wanderung</font><br />
        <font style="text-align:center" face="Comic sans MS" size="5">Wandern ist mehr als nur ein Hobby, es ist Leidenschaft!</font><br />

        <div class="col-sm-12">
            <font face="Comic sans MS" size="5">Bitte Ihre Höhenmeter Aufwärts eintippen</font>
            <div class="form-group">
                <label for="Aufwaerts">Höhenmeter:</label>
                    <input type="number" class="form-control" id="Aufwaerts" name="Aufwaerts" placeholder="Hoehenmeter">
            </div>
        </div>
        <div class="col-sm-12">
            <font face="Comic sans MS" size="5">Bitte Ihre Höhenmeter Abwärts eintippen</font>
            <div class="form-group">
                <label for="Abwaerts">Höhenmeter:</label>
                <input type="number" class="form-control" id="Abwaerts" name="Abwaerts" placeholder="Hoehenmeter">
            </div>

        </div>
        <div class="col-sm-12">
            <font face="Comic sans MS" size="5">Bitte Ihre horizontalen Kilometer eintippen</font>
            <div class="form-group">
                <label for="Kilometer">Kilometer:</label>
                <input type="number" class="form-control" id="Kilometer" name="Kilometer" placeholder="Kilometer">
            </div>
            <br/>
        </div>

        <div class="col-sm-12">

            <div class="col">
                <button width="500px" class="btn" type="submit">Berechnung starten</button>
            </div>

            <div class="form-group">
            <div class="solution">
                <font face="Comic sans MS" size="5">Ihre Gehzeit beläuft sich auf: @Model.Solution</font>
            </div>
                <br />
            </div>
        </div>
        <img  src="~/wanderer.jpg" alt="Wanderer">
    </div>
     </form>
</div>

<style>
    .solution{
        color: red;
    }
    .col {
        text-align: center;
    }
    .btn{
        background-color: red;
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
</style>

