@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Herzlich Willkommen auf der Website des Alpenvereins</h1>
    <p>gegründet im Jahre 1967</p>
</div>
