@page
@model _15SecondWebApp.Pages.CollatzModel
@{
}
div class="Container-md">
	<div class="row">
		<div class="col-md-6">
			<form method="post" asp-page-handler="Calculate">
				<button type="submit">Ergebnis berechnen</button>
			</form>
		@if (Model.Result.HasValue)
		{
					<p>Ergebnis: @Model.Result</p>
		}
		</div>
	</div>
</div>

