@page
@model _15SecondWebApp.Pages.SubtraktionModel
@{
}

<div class="Container-md">
	<div class="row">
		<div class="col-md-6">
			<form method="post" asp-page-handler="Calculate1">
				<div>
					<input type="number" id="subtrahend" name="subtrahend" />
					<input type="number" id="minuend" name="minuend" />
				</div>
				<button type="submit">Ergebnis berechnen</button>
			</form>
			@if (Model.Result.HasValue)
			{
				<p>Ergebnis: @Model.Calculation</p>
			}
		</div>
		<div class="col-md-6">
			<form method="post" asp-page-handler="CalculateAndRedirect1">
				<div>
					<input type="number" id="subtrahend" name="subtrahend" />
					<input type="number" id="minuend" name="minuend" />
				</div>
				<button type="submit">Ergebnis auf anderer Seite anzeigen</button>
			</form>
		</div>
	</div>
</div>
