@page
@model _01._1_CalculatorWeb.Pages.ggtcalculatorModel
@{
}

<h1>Calculate ggT</h1>
<p></p>
<h2>The ggT number one is @Model.Number1 and number two is @Model.Number2 </h2>
<h2>@Model.Result</h2>
<br />
<button><a class="nav-link text-dark" asp-area="" asp-page="/ggtinput"> Calculate the next ggt </a></button>